@import "theme-editor.css";
/*
   CSS styling examples for the Vaadin app.

   Visit https://vaadin.com/docs/styling/application-theme/ for more information.
*/

/* Example: the style is applied only to the textfields which have the `bordered` class name. */
vaadin-text-field.bordered::part(input-field) {
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
  background-color: var(--lumo-base-color);
}

.bordered-menu {
  width: 100%
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
  background-color: white;
}

table, th, td {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
}

th, td {
  padding: 7px;
}

.mainview {
    background-image: url("LaDark.jpg");
    background-size: cover;
    background-repeat: no-repeat
}

.topMenu {
    padding-bottom: 10px;
}

.alpha-layouts {
    background-color: rgba(0, 0, 0, 0.65);
}

.footer-layout {
    background-color: rgba(0, 0, 0, 0.90);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
}

.view-sends {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

[theme~="dark"] {
    --lumo-base-color: rgba(0, 0, 0, 0.75);
    --lumo-primary-color: hsl(122, 96%, 47%);
    --lumo-primary-color-50pct: hsl(122, 96%, 47%, 0.5);
    --lumo-primary-color-10pct: hsl(122, 96%, 47%, 0.1);
}
